*{
	box-sizing: border-box;
}
body, html{
	background: linear-gradient(to right, #56ccf2, #2f80ed);
	background-color: #56ccf2;
	height: auto;
	padding: 10px;
	font-family: Arial Black;
	padding-top: 0;
}
h3{
	font-size: 30px;
}
.main {
	max-width: 1000px;
	margin: auto;

}
h1{
	font-size: 50px;
	word-break: all;
	color: white;
}
.row{
	margin: 8px-16px;

}
.column{
	float: left;
	width: 50%;
}
.content{
	background-color: white;
	padding: 10px;

}
@media screen and (max-width: 900px){
	.column{
		width: 50%;
	}
}
@media screen and (max-width: 600px){
	.column{
		width: 100%;
	}
}

/*Side Menu*/
.sidenav{	
	display: none;
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	padding-top: 60px;	
}
span{
	color: white;
}
.sidenav a{
	padding: 10px 28px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: gray;
	display: block;
}
.sidenav a:hover{
	color: black;
}
.sidenav .closebtn{
	position: absolute;
	color: red;
	top: 35px;
	right: 25px;
	font-size: 40px;
	margin-left: 50px;
}
/*footer*/
.bottom-content{
	background: #54595F;
	text-align: center;
}
/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 18px;
  width: 28px;
  border-radius: 50px 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7; 
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

footer{
	background: #54595F;
	color: white;
	background-size: 100% 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: lato;

}

footer a{
	text-decoration: none;
	color: #56eef2 ;
}
footer a:hover{
	text-transform: uppercase;
	background: linear-gradient(to right, #ee0979, #ff6a00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
}


/* Top  navigation bar and image */

#logo:hover {
	color: rgb(75, 75, 75);
}




.page-links {
	float: left;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	margin: 18px 5% 18px auto;
	display: flex;

}

/* Style the links inside the navigation bar */
.page-links a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin-left: 35px;
  text-transform: uppercase;
  
}

/* Change the color of links on hover */
.page-links a:hover {
  background: #00000054;
  color: white;
}	

#logo{
	color: black;
	font-size: 30px;
	font-family: Arial Black;
	display: flex;
	margin: 18px auto 0 0;
}

/*Hero Image*/
.hero-image{
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100% ;
}

/*Top Navbar*/
.topnav {	
  font-family: lato;
  margin-bottom: 5px;
  display: flex;

}

.social-items {
	margin: 0 auto;
	width: auto;

}

.social-items a {
	margin: 20px;
}



@media only screen and (min-width: 950px) {
	.hamburger-icon {
	  display: none;
	}

	#logo {
		margin: 0 2rem 0 5% ;
	}

	.logo {
		display: flex;
		padding: 0 5%;
		align-items: center;
		margin: 0 auto 0 0;
	}


  }

  @media only screen and (max-width: 950px) {


	.page-links {
		display: none;
	}

	.logo {
		display: flex;
		width: 100%;
		padding: 0 5%;
		align-items: center;
	}




	#logo {
		margin: 18px 0 0 auto;
	}
  }




